@page "{slug}"
@model Lampshade.WebApp.Pages.ArticleDetailsModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["keywords"] = Model.Article.KeyWords.Replace("-", ",");
    ViewData["description"] = Model.Article.MetaDescription;
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">@Model.Article.Title</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="Index">خانه</a>
                            </li>
                            <li>
                                <a href="#">@Model.Article.CategoryName</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <!--=======  blog post container  =======-->
                                    <div class="blog-single-post-container">

                                        <!--=======  post title  =======-->


                                        <h3 class="post-title">@Model.Article.Title</h3>

                                        <!--=======  End of post title  =======-->
                                        <!--=======  Post meta  =======-->
                                        <div class="post-meta">
                                            <p>
                                                <span><i class="fa fa-user-circle"></i> دسته بندی: </span> <a href="#">@Model.Article.CategoryName</a> <span class="separator">|</span> <span>
                                                    <i class="fa fa-calendar"></i> تاریخ انتشار: <a href="#">
                                                        @Model.Article.PublishDate
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <!--=======  End of Post meta  =======-->
                                        <!--=======  Post media  =======-->

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/pictures/articles/@Model.Article.Picture" class="img-fluid"
                                                     alt="@Model.Article.PictureAlt"
                                                     title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>

                                        <!--=======  End of Post media  =======-->
                                        <!--=======  Post content  =======-->

                                        <div class="post-content">

                                            <blockquote>
                                                <p>
                                                    @Model.Article.ShortDescription
                                                </p>
                                            </blockquote>

                                            <p>
                                                @Html.Raw(Model.Article.Description)
                                            </p>

                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>کلمات کلیدی: </span>
                                            <ul>
                                                @foreach (var item in Model.Article.KeyWords.Split('-'))
                                                {
                                                    <li><a href="#">@item.Trim()</a> - </li>
                                                }
                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>اشتراک گذاری در صفحات اجتماعی</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                    <!--=============================================
                                    =            Comment section         =
                                    =============================================-->

                                    <div class="comment-section">
                                        <h3 class="comment-counter">@Model.Article.Comments.Count نظر ثبت شده</h3>

                                        <!--=======  comment container  =======-->

                                        <div class="comment-container">
                                            @foreach (var item in Model.Article.Comments.Where(x => x.ParenId == 0).OrderByDescending(x => x.Id))
                                            {
                                                <!--=======  single comment  =======-->
                                                <div class="single-comment">
                                                    <span class="reply-btn">
                                                        <a href="#postComment" onclick="$('#Command_ParentId').val(@item.Id)">پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/site/assets/img/blog/comment-icon.png" alt="@item.Name">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            @item.Name <span class="comment-time">
                                                                @item.CreationDate
                                                            </span>
                                                        </h3>
                                                        <p class="comment-text">
                                                            @item.Text
                                                        </p>
                                                    </div>
                                                </div>
                                                <!--=======  End of single comment  =======-->
                                                @if (Model.Article.Comments.Any(x => x.ParenId == item.Id))
                                                {
                                                    foreach (var child in Model.Article.Comments.Where(x => x.ParenId == item.Id))
                                                    {
                                                        <!--=======  single reply comment  =======-->
                                                        <div class="single-comment reply-comment">
                                                            <span class="reply-btn">
                                                                <a href="#postComment" onclick="$('#Command_ParentId').val(@item.Id)">پاسخ</a>
                                                            </span>
                                                            <div class="image">
                                                                <img src="~/site/assets/img/blog/comment-icon.png" alt="">
                                                            </div>
                                                            <div class="content">
                                                                <h3 class="user">
                                                                    @child.Name <span class="comment-time">
                                                                        @child.CreationDate
                                                                    </span>
                                                                </h3>
                                                                <p class="comment-text">
                                                                    @child.Text
                                                                </p>
                                                            </div>

                                                        </div>
                                                        <!--=======  End of single reply comment  =======-->
                                                    }
                                                }
                                            }
                                        </div>

                                        <!--=======  End of comment container  =======-->
                                        <!--=======  comment form container  =======-->

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">دیدگاهتان را ثبت کنید</h3>
                                            <p>
                                                وارد کردن ایمیل اجباری است . و به دیگران نمایش داده نمیشود
                                                *
                                            </p>

                                            <!--=======  comment form  =======-->

                                            <div class="comment-form" id="postComment">
                                                <form method="post">
                                                    <input type="hidden" asp-for="Command.OwnerRecordId" value="@Model.Article.Id" />
                                                    <input type="hidden" name="articleSlug" id="articleSlug" value="@Model.Article.Slug" />
                                                    @*<input type="hidden" asp-for="Command.Type" value="@CommentTypes.Article" />*@
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>دیدگاه ارزشمند شما</label>
                                                                <textarea asp-for="Command.Text"></textarea>
                                                                <span asp-validation-for="Command.Text"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام شما <span class="required">*</span></label>
                                                                <input asp-for="Command.Name" type="text" />
                                                                <span asp-validation-for="Command.Name"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input asp-for="Command.Email" type="email" />
                                                                <span asp-validation-for="Command.Email"></span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" asp-for="Command.ParentId" value="0" />
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ثبت نظر
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Sidebar *@
                            @await Component.InvokeAsync("ArticleSidebar")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial" />
}